---
import ThemeButton from '../ThemeButton.vue';
import NavBarLink from './NavBarLink.astro';
---

<nav class="max-w-screen flex h-auto grid-rows-2 items-center md:h-16">
  <div class="flex flex-col items-center md:flex-row">
    <div class="flex flex-row items-center">
      <!-- To prevent layout shifts-->
      <div class="flex h-12 w-12 items-center justify-center">
        <ThemeButton client:only="vue" />
      </div>
      <NavBarLink
        href="/"
        class="!font-serif"
        >hmthien050209's website</NavBarLink
      >
    </div>
    <div class="flex flex-row">
      <NavBarLink
        href="/about"
        data-astro-prefetch
        >About
      </NavBarLink>
      <NavBarLink
        href="/contact"
        data-astro-prefetch
        >Contact
      </NavBarLink>
      <NavBarLink
        href="/blog"
        data-astro-prefetch
        >Blogs
      </NavBarLink>
      <NavBarLink
        href="/resume.pdf"
        data-astro-prefetch
        >Resume</NavBarLink
      >
    </div>
  </div>
</nav>
