---
import { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {}

const { ...attributes } = Astro.props;
---

<a
  {...attributes}
  data-astro-prefetch
>
  <slot />
</a>

<style>
  a {
    all: unset;
    @apply m-[--spacing] rounded-[--border-radius] p-[--spacing] text-inherit hover:cursor-pointer hover:bg-[--background-hover-color] hover:text-inherit hover:no-underline dark:text-inherit dark:hover:bg-[--dark-background-hover-color] dark:hover:text-inherit;
  }
</style>
