---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {}

const { ...attributes } = Astro.props;
---

<a
  {...attributes}
  data-astro-prefetch
>
  <slot />
</a>

<style>
  @reference '@styles/main.css';
  a {
    all: unset;
    @apply rounded-default hover:bg-background-hover dark:hover:bg-dark-background-hover m-1 p-1 text-inherit hover:cursor-pointer hover:text-inherit hover:no-underline md:m-2 md:p-2 dark:text-inherit dark:hover:text-inherit;
    @apply motion-safe:transition-all motion-safe:duration-300 motion-safe:ease-out;
  }
</style>
