<button id="theme-button"> Theme </button>

<script>
  let isDarkTheme = false;

  function toggleTheme() {
    isDarkTheme = !isDarkTheme;
    document.documentElement.classList.toggle("dark");
  }

  document
    .querySelector("#theme-button")
    .addEventListener("click", toggleTheme);
</script>
